<style type="text/css" media="screen">
  body {
    color: #333;
    font-family: monospace;
    margin: 0;
  }
  h1 {
    font-weight: 300;
    margin: 0;
  }
  h2 {
    font-weight: 300;
    margin: 0;
  }
  p {
    margin: 15px 0 0 0;
    line-height: 1.6;
  }
  a {
    white-space: nowrap;
  }
  code {
    display: block;
    max-width: 50%;
    background: #eee;
    padding: 5px 10px;
    border: 1px solid #ddd;
    margin: 5px 0 5px 20px;
    color: #555;
  }

  .text--h-center {
    text-align: center;
  }

  .site-title {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    z-index: 99;

    background-color: #555;
    background-image: linear-gradient(47deg, #FF2F2F 0%, #FF1279 87%);
    color: #fff;
  }
  .site-title--inverted {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  .site-title a {
    text-decoration: none;
  }
  .scrolled {
    text-align: left;
  }

  .site-content--vh-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
  }

  .site-content--h-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
  }

  .site-content {
    max-width: 50vw;
    padding: 20px;
  }

  /* Projects */
  .project__site-content--h-center {
    position: relative;
  }
  .project__site-content--h-center:nth-child(odd) {
    background-color: #eee;
    -webkit-clip-path: polygon(0 0%, 100% 4%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0%, 100% 4%, 100% 100%, 0% 100%);
    padding: 100px 20px;
  }
  .project__graphics {
    max-width: 709px;
    margin: 10px auto;
  }
  .project__image {
    width: 100%;
  }
  .project-list__list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    display: flex;
  }
  .project-list__list-link {
    padding: 10px;
    display: block;
  }
  .project__description {
    max-width: 709px;
    margin: 0 auto;
  }
  @media (min-width: 550px) {
    .project__description {
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
      -moz-column-gap: 30px;
      -webkit-column-gap: 30px;
      column-gap: 30px;
    }
  }

  .project__p {
    margin: 0 0 15px 0;
  }
  .project__li {
    padding-bottom: 6px;
  }


  /* 404 */
  .four-o-four__title {
    color: #fff;
    background-image: linear-gradient(47deg, #FF2F2F 0%, #FF1279 87%);
  }
  .four-o-four__text {
    margin-top: 0px;
  }

</style>