<style type="text/css" media="screen">
  body {
    font-family: monospace;
    margin: 0;
  }
  h1 {
    font-weight: 300;
    margin: 0;
  }
  h2 {
    font-weight: 300;
    margin: 0;
  }
  p {
    margin: 15px 0 0 0;
    line-height: 1.6;
  }
  .site-title {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
  }
  .center-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
</style>